* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.child-1 {
  background-color: #455a64;
  height: 40%;
}

h1 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0 5px 0;
}

.logo {
  height: 20px;
  margin: 0 5px;
}

.input,
.clearbtn {
  border-style: groove;
  border-width: thin;
  display: block;
  font-size: 1.1em;
  height: 35px;
  margin: 15px auto;
  padding-left: 8px;
  width: 85%;
}

.input:focus {
  outline-color: #cfd8dc;
  outline-style: outset;
  outline-width: 2px;
}

#enter-button {
  background-color: #ffc107;
  border: none;
  color: #fff;
  font-weight: 800;
}

#clear-button {
  background-color: #db3d3d;
  border: none;
  color: #fff;
  font-weight: 800;
}

#enter-button:hover {
  background-color: #ffd773;
  color: #fff;
}

#clear-button:hover {
  background-color: #915658;
}

#enter-button:disabled,
#clear-button:disabled {
  background-color: #ffc0cb;
}

.fix-flex {
  display: flex;
  justify-content: space-between;
}

.bookmark-count,
.read-count {
  color: #fff;
  font-weight: 800;
  margin: auto;
}

.child-2 {
  background-color: #cfd8dc;
  height: 60%;
  overflow: hidden;
  overflow-y: scroll;
}

.bookmark {
  background-color: #fff;
  border: 2px solid #607d8b;
  margin: 20px;
}

hr {
  margin: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(207, 216, 220, 0.20), rgba(207, 216, 220, 1), rgba(207, 216, 220, 0.20));
}

.site-title {
  color: #455a64;
  font-size: 1.3em;
  margin: 5px 10px;
}

.clickable {
  background: none;
  border: none;
  color: #607d8b;
  margin: 0 10px;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}

.read-delete-buttons {
  display: flex;
  justify-content: space-between;
}

.read-card {
  background-color: #f2f4f4;
  text-decoration-color: #cfd8dc;
}

.red-btn {
  color: red;
  font-weight: 800;
}

.clickable:hover {
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

.clickable:focus {
  outline: 0;
}

.siteurl:hover,
.read-btn:hover {
  font-weight: 800;
}

/*=======Media Queries=======*/


@media screen and (min-width: 700px) {

  .parent {
    flex-direction: row;
  }

  .child-2 {
    height: 100vh;
    width: 50%
  }

  .child-1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 50%;
  }

  h1 {
    font-size: 2.8em;
  }

  .logo {
    height: 35px;
    margin: 0 10px;
  }

  .input,
  .clearbtn {
    width: 70%;
  }
}


@media screen and (min-width: 894px) {

  h1 {
    font-size: 3.5em;
  }

  .logo {
    height: 45px;
    margin: 0 10px;
  }
}
